*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  // overflow-x: hidden;
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  // overflow-x: hidden;
  // overflow: hidden;
  // padding-top: 70px;
}
// $base-color: #4dc0b5;
$base-color: #8ed121;

$editBtnColor: rgb(197, 195, 65);
$deleteBtnColor: #e80000;
